

<div class="row">
<div class="alert alert-info">
<div class="row">

<div class="col-md-6">
<p>
  <strong>Snippet:</strong>
</p>
<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
</div>
<div class="col-md-2">
<p>
  <strong>Description:</strong><br/>
  <%= @gist.description %>
</p>
<p>
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>
</div>

</div>
</div>
</div>

